
/*==============================*/
/* GENERAL                      */
/*==============================*/

* {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 1.1em;
}

body {
  margin: 0!important;
  padding: 0!important;
}

#main {
  margin: 10px;
  padding: 0;
  width: 612px;
  height: 377px;
}

/*==============================*/
/* PHOTOSET BROWSER             */
/*==============================*/

#browse, #photoset {
  width: 613px;
  height: 340px;
  border: 1px solid #CCC;
  background: #FFF;
}

#browse ul {
  margin: 38px 0 0 38px;
  list-style: none;
}

#browse ul li {
  margin: 0 38px 38px 0;
  float: left;
}

#browse ul li img {
  border: 1px solid #CCC;
}

#browse ul li span.title {
  display: block;
  width: 77px;
  font-size: 0.8em;
  text-align: center;
  overflow: hidden;
}

#browse ul li a:link, #browse ul li a:visited {
  text-decoration: none;
}

#browse ul li a:link span.title, #browse ul li a:visited span.title {
  color: #0063DC;
}

#browse ul li a:hover span.title, #browse ul li a:active span.title {
  background: #0063DC;
  color: #FFF;
}

#browse ul li span.number {
  display: block;
  width: 75px;
  font-size: 0.7em;
  text-align: center;
  padding-top: 2px;
}

#browse ul li a:link span.number, #browse ul li a:visited span.number {
  color: #CCC;
}

#browse ul li a:hover span.number, #browse ul li a:active span.number {
  text-decoration: none;
}

#footer {
  width: 613px;
  height: 25px;
  margin-top: 10px;
}

#photoset .overview {
  float: right;
  width: 170px;
  padding: 15px;
  background: #DFEBF7;
  border-left: 1px solid #CCC;
  overflow: hidden;
  height: 310px;
  text-align: center;
}

#photoset .overview img {
  border: 1px solid #333;
}

#photoset .overview .title {
  font-size: 1.3em;
  font-weight: bold;
  color: #0063DC;
  padding: 5px 0;
}

#photoset .overview .description {
  font-size: 1em;
  color: #333;
}

#photoset .options {
  background: #FFF;
  float: left;
  width: 382px;
  padding: 15px;
  height: 310px;
  overflow: hidden;
}

#photoset .options .info {
  color: #333;
  font-size: 1em;
}

#photoset .options label {
  font-size: 0.6em;
  color: #0063DC;
}

#photoset .options label .form-required {
  color: #FF0084;
}

#footer ul {
  margin: 0;
  padding: 0;
  height: 25px;
  font-size: 0.8em;
  padding-top: 4px;
}

#footer ul li {
  background: #FFF;
  color: #0063DC;
  padding: 0;
  margin: 0;
}

#footer ul li a:link, #footer ul li a:visited {
  text-decoration: none;
  color: #0063DC;
  padding: 2px 4px;
  border: 1px solid #DDD;
  background: #FFF;
}

#footer ul li a:hover, #footer ul li a:active {
  text-decoration: none;
  background: #0063DC;
  color: #FFF;
  border: 1px solid #003366;
}

#footer ul li.pager-current {
  color: #FF0084;
  font-weight: bold;
  background: transparent;
  border: 1px solid transparent;
  margin: 0 5px;
}

#footer ul li.pager-next {
  margin-left: 10px;
}

#footer ul li.pager-previous {
  margin-right: 10px;
}

#footer a.insert:link, #footer a.insert:visited {
  width: 613px;
  height: 25px;
  border: 1px solid #DDD;
  background: #FFF;
  display: block;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #0063DC;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

#footer a.insert:hover, #footer a.insert:active {
  background: #0063DC;
  color: #FFF;
  border: 1px solid #003366;
}

#browse .message {
  padding: 20px;
  line-height: 1.3em;
  font-size: 1.1em;
  text-align: center;
}

#browse .message a:link, #browse .message a:visited {
  color: #0063DC;
  text-decoration: underline;
  font-size: 1em;
}

#browse .message a:hover, #browse .message a:active {
  background: #0063DC;
  color: #FFF;
}