
/*==============================*/
/* GENERAL                      */
/*==============================*/

.flickrinsert_photoset {
  border: 1px solid #E3E3E3;
  background: #F5F5F5;
}

.flickrinsert_photoset ul.photos {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.flickrinsert_photoset ul.photos li {
  background: none;
  margin: 10px;
  margin-right: 0;
  padding: 0;
  float: left;
}

.flickrinsert_photoset ul.photos li a {
  padding: 0;
  margin: 0;
  display: block;
}

.flickrinsert_photoset ul.photos li img {
  border: 1px solid #333;
}

.flickrinsert_photoset .clear {
  clear: left;
}

.flickrinsert_photoset ul.pager {
  background: #E3E3E3;
  margin: 0;
  padding: 0;
  height: 22px;
  padding-top: 3px;
  clear: left;
}

.flickrinsert_photoset ul.pager li {
  background: #FFF;
  color: #0063DC;
  padding: 0;
  margin: 0;
}

.flickrinsert_photoset ul.pager li a:link, .flickrinsert_photoset ul.pager li a:visited {
  text-decoration: none;
  color: #0063DC;
  padding: 2px 4px;
  border: 1px solid #CCC;
  background: #FFF;
}

.flickrinsert_photoset ul.pager li a:hover, .flickrinsert_photoset ul.pager li a:active {
  text-decoration: none;
  background: #0063DC;
  color: #FFF;
  border: 1px solid #003366;
}

.flickrinsert_photoset ul.pager li.pager-current {
  color: #FF0084;
  font-weight: bold;
  background: transparent;
  border: 1px solid transparent;
  margin: 0 5px;
}

.flickrinsert_photoset ul.pager li.pager-next {
  margin-left: 10px;
}

#footer ul li.pager-previous {
  margin-right: 10px;
}